*{
    box-sizing: border-box;
}
.bio{
    padding: 25px;
    font-size: larger;
}
  
.pic {
float: left;
width: 33.33%;
padding: 5px;
}
  
.pictures::after {
    content: "";
    clear: both;
    display: table;
}
.title{
text-align: center;
padding: 15px;
font-size: large;
}

ul{
    list-style-type: none;
    display: block;
    color: navy;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
} 

li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: aqua;
    color: white;
}
.background{
    background-color: dodgerblue;
}

body{ 
    background-color: lightskyblue;
    text-align: center;
}

.ProcessPage{
    margin: 35px;
}

.h2{
   text-decoration: underline; 
}
.h22{
    text-decoration: underline; 
 }
 .h222{
    text-decoration: underline; 
 }
 .h2222{
    text-decoration: underline; 
 }
 .h22222{
    text-decoration: underline; 
 }
 .h222222{
    text-decoration: underline; 
 }

